In [ ]:
! pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (7.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download stefanoleone992/tripadvisor-european-restaurants

tripadvisor-european-restaurants.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
! unzip tripadvisor-european-restaurants.zip

Archive:  tripadvisor-european-restaurants.zip
replace tripadvisor_european_restaurants.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
t_soar_db = pd.read_csv('tripadvisor_european_restaurants.csv', nrows=1000)
t_soar_db.head()

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,...,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,...,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN

In [ ]:
clean_t_soar_db = t_soar_db[['restaurant_name', 'address', 'price_level', 'cuisines', 'special_diets' ]]
clean_t_soar_db.head()

,restaurant_name,address,price_level,cuisines,special_diets
0,Le 147,"10 Maison Neuve, 87510 Saint-Jouvent France",€,French,NaN
1,Le Saint Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",€,NaN,NaN
2,Au Bout du Pont,"2 rue des Dames, 36800 Rivarennes France",€,"French, European",NaN
3,Le Relais de Naiade,"9 avenue Porte de la Correze 19170, 19170 Lace...",€,French,NaN
4,Relais Du MontSeigne,"route du Montseigne, 12620 Saint-Laurent-de-Le...",€€-€€€,French,NaN

In [ ]:
username = clean_t_soar_db['restaurant_name']+"1"
clean_t_soar_db.insert(loc=0, column='username', value=username)
clean_t_soar_db['username'] = clean_t_soar_db['username'].str.lower()
clean_t_soar_db['username'] = clean_t_soar_db['username'].str.replace(" ", "")
clean_t_soar_db

<ipython-input-109-ef8d6985b50c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_t_soar_db['username'] = clean_t_soar_db['username'].str.lower()
<ipython-input-109-ef8d6985b50c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_t_soar_db['username'] = clean_t_soar_db['username'].str.replace(" ", "")

,username,restaurant_name,address,price_level,cuisines,special_diets
0,le1471,Le 147,"10 Maison Neuve, 87510 Saint-Jouvent France",€,French,NaN
1,lesaintjouvent1,Le Saint Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",€,NaN,NaN
2,auboutdupont1,Au Bout du Pont,"2 rue des Dames, 36800 Rivarennes France",€,"French, European",NaN
3,lerelaisdenaiade1,Le Relais de Naiade,"9 avenue Porte de la Correze 19170, 19170 Lace...",€,French,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,"route du Montseigne, 12620 Saint-Laurent-de-Le...",€€-€€€,French,NaN
...,...,...,...,...,...,...
995,lecottage1,Le Cottage,"2162 Chemin de la Breteque, 76230 Bois Guillau...",NaN,NaN,NaN
996,lenicouelo1,Le Nicouelo,"Centre Commercial des Bocquets, 76230 Bois Gui...",€,French,NaN
997,enfinchezgaëlle1,Enfin Chez Gaëlle,"4244 route de Neufchatel, 76230 Bois Guillaume...",€€-€€€,French,NaN
998,lasangria1,La Sangria,"865 rue des Canadiens, 76230 Bois Guillaume Fr...",€€-€€€,"Mediterranean, Spanish, European",NaN
999,fujiyasushi1,Fujiya Sushi,"3182 route de Neufchatel, 76230 Bois Guillaume...",€€-€€€,"Japanese, Sushi, Asian",NaN

In [ ]:
email = clean_t_soar_db['username']+"@gmail.com"
clean_t_soar_db.insert(loc=2, column='email', value=email)

clean_t_soar_db

,username,restaurant_name,email,address,price_level,cuisines,special_diets
0,le1471,Le 147,le1471@gmail.com,"10 Maison Neuve, 87510 Saint-Jouvent France",€,French,NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,"16 Place de l Eglise, 87510 Saint-Jouvent France",€,NaN,NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,"2 rue des Dames, 36800 Rivarennes France",€,"French, European",NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,"9 avenue Porte de la Correze 19170, 19170 Lace...",€,French,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,"route du Montseigne, 12620 Saint-Laurent-de-Le...",€€-€€€,French,NaN
...,...,...,...,...,...,...,...
995,lecottage1,Le Cottage,lecottage1@gmail.com,"2162 Chemin de la Breteque, 76230 Bois Guillau...",NaN,NaN,NaN
996,lenicouelo1,Le Nicouelo,lenicouelo1@gmail.com,"Centre Commercial des Bocquets, 76230 Bois Gui...",€,French,NaN
997,enfinchezgaëlle1,Enfin Chez Gaëlle,enfinchezgaëlle1@gmail.com,"4244 route de Neufchatel, 76230 Bois Guillaume...",€€-€€€,French,NaN
998,lasangria1,La Sangria,lasangria1@gmail.com,"865 rue des Canadiens, 76230 Bois Guillaume Fr...",€€-€€€,"Mediterranean, Spanish, European",NaN
999,fujiyasushi1,Fujiya Sushi,fujiyasushi1@gmail.com,"3182 route de Neufchatel, 76230 Bois Guillaume...",€€-€€€,"Japanese, Sushi, Asian",NaN

In [ ]:
! pip install names

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: names in /usr/local/lib/python3.8/dist-packages (0.3.0)

In [ ]:
import names
restaurant_owner = []

for i in range(len(clean_t_soar_db['restaurant_name'])):
  restaurant_owner.append(names.get_full_name())

clean_t_soar_db.insert(loc=3, column='restaurant_owner', value=restaurant_owner)

clean_t_soar_db.head()

,username,restaurant_name,email,restaurant_owner,address,price_level,cuisines,special_diets
0,le1471,Le 147,le1471@gmail.com,Colleen Mohr,"10 Maison Neuve, 87510 Saint-Jouvent France",€,French,NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,Matthew Mcclish,"16 Place de l Eglise, 87510 Saint-Jouvent France",€,NaN,NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,Sandra Marsh,"2 rue des Dames, 36800 Rivarennes France",€,"French, European",NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,Rosa Siebenaler,"9 avenue Porte de la Correze 19170, 19170 Lace...",€,French,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,Matthew Read,"route du Montseigne, 12620 Saint-Laurent-de-Le...",€€-€€€,French,NaN

In [ ]:
clean_t_soar_db.insert(loc=5, column='opening_hours', value='17:00-23:00')

In [ ]:
clean_t_soar_db = clean_t_soar_db.rename(columns={'price_level': 'price', 'cuisines':'cooking_type', 'special_diets':'specialdiet'})
clean_t_soar_db

,username,restaurant_name,email,restaurant_owner,address,opening_hours,price,cooking_type,specialdiet
0,le1471,Le 147,le1471@gmail.com,Colleen Mohr,"10 Maison Neuve, 87510 Saint-Jouvent France",17:00-23:00,€,French,NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,Matthew Mcclish,"16 Place de l Eglise, 87510 Saint-Jouvent France",17:00-23:00,€,NaN,NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,Sandra Marsh,"2 rue des Dames, 36800 Rivarennes France",17:00-23:00,€,"French, European",NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,Rosa Siebenaler,"9 avenue Porte de la Correze 19170, 19170 Lace...",17:00-23:00,€,French,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,Matthew Read,"route du Montseigne, 12620 Saint-Laurent-de-Le...",17:00-23:00,€€-€€€,French,NaN
...,...,...,...,...,...,...,...,...,...
995,lecottage1,Le Cottage,lecottage1@gmail.com,Alicia Limones,"2162 Chemin de la Breteque, 76230 Bois Guillau...",17:00-23:00,NaN,NaN,NaN
996,lenicouelo1,Le Nicouelo,lenicouelo1@gmail.com,Carol Mohler,"Centre Commercial des Bocquets, 76230 Bois Gui...",17:00-23:00,€,French,NaN
997,enfinchezgaëlle1,Enfin Chez Gaëlle,enfinchezgaëlle1@gmail.com,Robert Mccaleb,"4244 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,French,NaN
998,lasangria1,La Sangria,lasangria1@gmail.com,Tim Galvan,"865 rue des Canadiens, 76230 Bois Guillaume Fr...",17:00-23:00,€€-€€€,"Mediterranean, Spanish, European",NaN
999,fujiyasushi1,Fujiya Sushi,fujiyasushi1@gmail.com,Orval Nugent,"3182 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,"Japanese, Sushi, Asian",NaN

In [ ]:
import random
contact_list=[]
for i in range(len(clean_t_soar_db)):
  phone_number='07'
  for i in range(1,8):
    phone_number = phone_number + str(random.randint(0,9))
  contact_list.append(phone_number)
clean_t_soar_db.insert(loc=8, column='contact', value=contact_list)

In [ ]:
clean_t_soar_db

,username,restaurant_name,email,restaurant_owner,address,opening_hours,price,cooking_type,contact,specialdiet
0,le1471,Le 147,le1471@gmail.com,Colleen Mohr,"10 Maison Neuve, 87510 Saint-Jouvent France",17:00-23:00,€,French,072378799,NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,Matthew Mcclish,"16 Place de l Eglise, 87510 Saint-Jouvent France",17:00-23:00,€,NaN,071772572,NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,Sandra Marsh,"2 rue des Dames, 36800 Rivarennes France",17:00-23:00,€,"French, European",078778307,NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,Rosa Siebenaler,"9 avenue Porte de la Correze 19170, 19170 Lace...",17:00-23:00,€,French,072670009,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,Matthew Read,"route du Montseigne, 12620 Saint-Laurent-de-Le...",17:00-23:00,€€-€€€,French,073783483,NaN
...,...,...,...,...,...,...,...,...,...,...
995,lecottage1,Le Cottage,lecottage1@gmail.com,Alicia Limones,"2162 Chemin de la Breteque, 76230 Bois Guillau...",17:00-23:00,NaN,NaN,071583316,NaN
996,lenicouelo1,Le Nicouelo,lenicouelo1@gmail.com,Carol Mohler,"Centre Commercial des Bocquets, 76230 Bois Gui...",17:00-23:00,€,French,073214720,NaN
997,enfinchezgaëlle1,Enfin Chez Gaëlle,enfinchezgaëlle1@gmail.com,Robert Mccaleb,"4244 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,French,071128080,NaN
998,lasangria1,La Sangria,lasangria1@gmail.com,Tim Galvan,"865 rue des Canadiens, 76230 Bois Guillaume Fr...",17:00-23:00,€€-€€€,"Mediterranean, Spanish, European",072467869,NaN
999,fujiyasushi1,Fujiya Sushi,fujiyasushi1@gmail.com,Orval Nugent,"3182 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,"Japanese, Sushi, Asian",072023917,NaN

In [ ]:
! pip install faker
! pip install faker_food

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.8/dist-packages (12.3.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker_food in /usr/local/lib/python3.8/dist-packages (0.1.0)
Requirement already satisfied: Faker<13.0.0,>=12.0.0 in /usr/local/lib/python3.8/dist-packages (from faker_food) (12.3.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker<13.0.0,>=12.0.0->faker_food) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker<13.0.0,>=12.0.0->faker_food) (1.15.0)

In [ ]:
from faker import Faker
from faker_food import FoodProvider

fake = Faker()
fake.add_provider(FoodProvider)

menu_list=[]
for i in range(len(clean_t_soar_db)):
  menu = ''
  for i in range(1,5):
    menu = menu + str(fake.dish()) + ', '
  menu_list.append(menu)
clean_t_soar_db.insert(loc=9, column='menu', value=menu_list)

In [ ]:
clean_t_soar_db

,username,restaurant_name,email,restaurant_owner,address,opening_hours,price,cooking_type,contact,menu,specialdiet
0,le1471,Le 147,le1471@gmail.com,Colleen Mohr,"10 Maison Neuve, 87510 Saint-Jouvent France",17:00-23:00,€,French,072378799,"Pasta and Beans, Chilli con carne, Meatballs w...",NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,Matthew Mcclish,"16 Place de l Eglise, 87510 Saint-Jouvent France",17:00-23:00,€,NaN,071772572,"Pasta Carbonara, Vegetable Soup, Lasagne, Ebit...",NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,Sandra Marsh,"2 rue des Dames, 36800 Rivarennes France",17:00-23:00,€,"French, European",078778307,"Meatballs with sauce, Pasta and Beans, Pasta w...",NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,Rosa Siebenaler,"9 avenue Porte de la Correze 19170, 19170 Lace...",17:00-23:00,€,French,072670009,"Ebiten maki, Caprese Salad, Tiramisù, Ebiten m...",NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,Matthew Read,"route du Montseigne, 12620 Saint-Laurent-de-Le...",17:00-23:00,€€-€€€,French,073783483,"Caesar Salad, Tiramisù, California maki, Katsu...",NaN
...,...,...,...,...,...,...,...,...,...,...,...
995,lecottage1,Le Cottage,lecottage1@gmail.com,Alicia Limones,"2162 Chemin de la Breteque, 76230 Bois Guillau...",17:00-23:00,NaN,NaN,071583316,"Pappardelle alla Bolognese, Fettuccine Alfredo...",NaN
996,lenicouelo1,Le Nicouelo,lenicouelo1@gmail.com,Carol Mohler,"Centre Commercial des Bocquets, 76230 Bois Gui...",17:00-23:00,€,French,073214720,"French fries with sausages, Pork belly buns, T...",NaN
997,enfinchezgaëlle1,Enfin Chez Gaëlle,enfinchezgaëlle1@gmail.com,Robert Mccaleb,"4244 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,French,071128080,"Caesar Salad, Scotch eggs, Califlower penne, C...",NaN
998,lasangria1,La Sangria,lasangria1@gmail.com,Tim Galvan,"865 rue des Canadiens, 76230 Bois Guillaume Fr...",17:00-23:00,€€-€€€,"Mediterranean, Spanish, European",072467869,"Pizza, Chicken Fajitas, Lasagne, Mushroom Riso...",NaN
999,fujiyasushi1,Fujiya Sushi,fujiyasushi1@gmail.com,Orval Nugent,"3182 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,"Japanese, Sushi, Asian",072023917,"Tiramisù, Pasta and Beans, Risotto with seafoo...",NaN

In [ ]:
def java_string_hashcode(s):
    """Mimic Java's hashCode in python 2"""
    h = 0
    for c in s:
        h = int((((31 * h + ord(c)) ^ 0x80000000) & 0xFFFFFFFF) - 0x80000000)
    return h

In [ ]:
password_list = []
hashed_password_list = []
for i in range(len(clean_t_soar_db)):
  password=''
  for i in range(1,8):
    password = password + str(random.randint(0,9))

  hashed_password = java_string_hashcode(password)  
  password_list.append(password)
  hashed_password_list.append(hashed_password)

password_t_soar_db = clean_t_soar_db.copy(deep=True)
password_t_soar_db.insert(loc=11, column='password', value=password_list)
password_t_soar_db.to_csv('Passwords.csv', index=False, encoding = 'utf-8-sig')
#password_t_soar_db.to_csv('/content/drive/MyDrive/Colab Notebooks/Passwords.csv', index=False, encoding = 'utf-8-sig')

clean_t_soar_db.insert(loc=11, column='password', value=hashed_password_list)

In [ ]:
clean_t_soar_db

,username,restaurant_name,email,restaurant_owner,address,opening_hours,price,cooking_type,contact,menu,specialdiet,password
0,le1471,Le 147,le1471@gmail.com,Colleen Mohr,"10 Maison Neuve, 87510 Saint-Jouvent France",17:00-23:00,€,French,072378799,"Pasta and Beans, Chilli con carne, Meatballs w...",NaN,-1102525129
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,Matthew Mcclish,"16 Place de l Eglise, 87510 Saint-Jouvent France",17:00-23:00,€,NaN,071772572,"Pasta Carbonara, Vegetable Soup, Lasagne, Ebit...",NaN,-1441997541
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,Sandra Marsh,"2 rue des Dames, 36800 Rivarennes France",17:00-23:00,€,"French, European",078778307,"Meatballs with sauce, Pasta and Beans, Pasta w...",NaN,2101763895
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,Rosa Siebenaler,"9 avenue Porte de la Correze 19170, 19170 Lace...",17:00-23:00,€,French,072670009,"Ebiten maki, Caprese Salad, Tiramisù, Ebiten m...",NaN,2073695602
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,Matthew Read,"route du Montseigne, 12620 Saint-Laurent-de-Le...",17:00-23:00,€€-€€€,French,073783483,"Caesar Salad, Tiramisù, California maki, Katsu...",NaN,-468667943
...,...,...,...,...,...,...,...,...,...,...,...,...
995,lecottage1,Le Cottage,lecottage1@gmail.com,Alicia Limones,"2162 Chemin de la Breteque, 76230 Bois Guillau...",17:00-23:00,NaN,NaN,071583316,"Pappardelle alla Bolognese, Fettuccine Alfredo...",NaN,-2129575717
996,lenicouelo1,Le Nicouelo,lenicouelo1@gmail.com,Carol Mohler,"Centre Commercial des Bocquets, 76230 Bois Gui...",17:00-23:00,€,French,073214720,"French fries with sausages, Pork belly buns, T...",NaN,-467619550
997,enfinchezgaëlle1,Enfin Chez Gaëlle,enfinchezgaëlle1@gmail.com,Robert Mccaleb,"4244 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,French,071128080,"Caesar Salad, Scotch eggs, Califlower penne, C...",NaN,-2042794411
998,lasangria1,La Sangria,lasangria1@gmail.com,Tim Galvan,"865 rue des Canadiens, 76230 Bois Guillaume Fr...",17:00-23:00,€€-€€€,"Mediterranean, Spanish, European",072467869,"Pizza, Chicken Fajitas, Lasagne, Mushroom Riso...",NaN,-558251553
999,fujiyasushi1,Fujiya Sushi,fujiyasushi1@gmail.com,Orval Nugent,"3182 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,"Japanese, Sushi, Asian",072023917,"Tiramisù, Pasta and Beans, Risotto with seafoo...",NaN,-2133384000

In [ ]:
type(clean_t_soar_db.password[1])

numpy.int64

In [ ]:
clean_t_soar_db['ratings'] = np.nan

In [ ]:
clean_t_soar_db.head()

,username,restaurant_name,email,restaurant_owner,address,opening_hours,price,cooking_type,contact,menu,specialdiet,password,ratings
0,le1471,Le 147,le1471@gmail.com,Colleen Mohr,"10 Maison Neuve, 87510 Saint-Jouvent France",17:00-23:00,€,French,072378799,"Pasta and Beans, Chilli con carne, Meatballs w...",NaN,-1102525129,NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,Matthew Mcclish,"16 Place de l Eglise, 87510 Saint-Jouvent France",17:00-23:00,€,NaN,071772572,"Pasta Carbonara, Vegetable Soup, Lasagne, Ebit...",NaN,-1441997541,NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,Sandra Marsh,"2 rue des Dames, 36800 Rivarennes France",17:00-23:00,€,"French, European",078778307,"Meatballs with sauce, Pasta and Beans, Pasta w...",NaN,2101763895,NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,Rosa Siebenaler,"9 avenue Porte de la Correze 19170, 19170 Lace...",17:00-23:00,€,French,072670009,"Ebiten maki, Caprese Salad, Tiramisù, Ebiten m...",NaN,2073695602,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,Matthew Read,"route du Montseigne, 12620 Saint-Laurent-de-Le...",17:00-23:00,€€-€€€,French,073783483,"Caesar Salad, Tiramisù, California maki, Katsu...",NaN,-468667943,NaN

In [ ]:
db_restaurant_user = clean_t_soar_db.copy()

In [ ]:
db_restaurant_user = db_restaurant_user[['username','restaurant_name','email','password']]
db_restaurant_user['FirstName'] = np.nan
db_restaurant_user['LastName'] = np.nan
db_restaurant_user

,username,restaurant_name,email,password,FirstName,LastName
0,le1471,Le 147,le1471@gmail.com,-1102525129,NaN,NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,-1441997541,NaN,NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,2101763895,NaN,NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,2073695602,NaN,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,-468667943,NaN,NaN
...,...,...,...,...,...,...
995,lecottage1,Le Cottage,lecottage1@gmail.com,-2129575717,NaN,NaN
996,lenicouelo1,Le Nicouelo,lenicouelo1@gmail.com,-467619550,NaN,NaN
997,enfinchezgaëlle1,Enfin Chez Gaëlle,enfinchezgaëlle1@gmail.com,-2042794411,NaN,NaN
998,lasangria1,La Sangria,lasangria1@gmail.com,-558251553,NaN,NaN
999,fujiyasushi1,Fujiya Sushi,fujiyasushi1@gmail.com,-2133384000,NaN,NaN

In [ ]:
db_restaurant_user.to_csv('Restaurant_user.csv', index=False, encoding = 'utf-8-sig')

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
clean_t_soar_db.to_csv('Restaurants.csv', index=False, encoding = 'utf-8-sig')
#clean_t_soar_db.to_csv('/content/drive/MyDrive/Colab Notebooks/Restaurants.csv', index=False, encoding = 'utf-8-sig')

In [ ]:
! install unicode

install: missing destination file operand after 'unicode'
Try 'install --help' for more information.

In [ ]:
user_t_soar_db = pd.DataFrame()

first_name_list = []
last_name_list = []
username_list=[]
for i in range(100):
  first_name = names.get_first_name()
  last_name = names.get_last_name()
  first_name_list.append(first_name)
  last_name_list.append(last_name)
  username_list.append(first_name.lower()+'1')

user_t_soar_db.insert(loc=0, column='firstname', value=first_name_list)
user_t_soar_db.insert(loc=1, column='lastname', value=last_name_list)
user_t_soar_db.insert(loc=0, column='username', value=username_list)
user_t_soar_db.insert(loc=1, column='restaurantname', value=np.nan)

email = user_t_soar_db['username']+"@gmail.com"
user_t_soar_db.insert(loc=4, column='email', value=email)

user_password_list = []
user_hashed_password_list = []
for i in range(len(user_t_soar_db)):
  user_password=''
  for i in range(1,8):
    user_password = user_password + str(random.randint(0,9))

  user_hashed_password = java_string_hashcode(user_password)  
  user_password_list.append(user_password)
  user_hashed_password_list.append(user_hashed_password)

user_password_t_soar_db = user_t_soar_db.copy(deep=True)
user_password_t_soar_db.insert(loc=5, column='password', value=user_password_list)
user_password_t_soar_db.to_csv('user_Passwords.csv', index=False, encoding = 'utf-8-sig')
#user_password_t_soar_db.to_csv('/content/drive/MyDrive/Colab Notebooks/user_Passwords.csv', index=False, encoding = 'utf-8-sig')

user_t_soar_db.insert(loc=5, column='password', value=user_hashed_password_list)

user_t_soar_db.to_csv('Users.csv', index=False, encoding = 'utf-8-sig')
user_t_soar_db.to_csv('/content/drive/MyDrive/Colab Notebooks/Users.csv', index=False, encoding = 'utf-8-sig')

In [ ]:
type(user_t_soar_db.password[1])

numpy.int64