<a href="https://colab.research.google.com/github/vanvan7/TripAdviSOAR-v3/blob/main/TripAdviSOAR_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (7.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)

In [ ]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download stefanoleone992/tripadvisor-european-restaurants

tripadvisor-european-restaurants.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
! unzip tripadvisor-european-restaurants.zip

Archive:  tripadvisor-european-restaurants.zip
replace tripadvisor_european_restaurants.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: tripadvisor_european_restaurants.csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
t_soar_db = pd.read_csv('tripadvisor_european_restaurants.csv', nrows=1000)
t_soar_db.head()

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,...,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,...,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN

Warning: Total number of columns (42) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
clean_t_soar_db = t_soar_db[['restaurant_name', 'address', 'price_level', 'cuisines', 'special_diets' ]]
clean_t_soar_db.head()

,restaurant_name,address,price_level,cuisines,special_diets
0,Le 147,"10 Maison Neuve, 87510 Saint-Jouvent France",€,French,NaN
1,Le Saint Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",€,NaN,NaN
2,Au Bout du Pont,"2 rue des Dames, 36800 Rivarennes France",€,"French, European",NaN
3,Le Relais de Naiade,"9 avenue Porte de la Correze 19170, 19170 Lace...",€,French,NaN
4,Relais Du MontSeigne,"route du Montseigne, 12620 Saint-Laurent-de-Le...",€€-€€€,French,NaN

In [ ]:
username = clean_t_soar_db['restaurant_name']+"1"
clean_t_soar_db.insert(loc=0, column='username', value=username)
clean_t_soar_db['username'] = clean_t_soar_db['username'].str.lower()
clean_t_soar_db['username'] = clean_t_soar_db['username'].str.replace(" ", "")
clean_t_soar_db

<ipython-input-183-ef8d6985b50c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_t_soar_db['username'] = clean_t_soar_db['username'].str.lower()
<ipython-input-183-ef8d6985b50c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_t_soar_db['username'] = clean_t_soar_db['username'].str.replace(" ", "")

,username,restaurant_name,address,price_level,cuisines,special_diets
0,le1471,Le 147,"10 Maison Neuve, 87510 Saint-Jouvent France",€,French,NaN
1,lesaintjouvent1,Le Saint Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",€,NaN,NaN
2,auboutdupont1,Au Bout du Pont,"2 rue des Dames, 36800 Rivarennes France",€,"French, European",NaN
3,lerelaisdenaiade1,Le Relais de Naiade,"9 avenue Porte de la Correze 19170, 19170 Lace...",€,French,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,"route du Montseigne, 12620 Saint-Laurent-de-Le...",€€-€€€,French,NaN
...,...,...,...,...,...,...
995,lecottage1,Le Cottage,"2162 Chemin de la Breteque, 76230 Bois Guillau...",NaN,NaN,NaN
996,lenicouelo1,Le Nicouelo,"Centre Commercial des Bocquets, 76230 Bois Gui...",€,French,NaN
997,enfinchezgaëlle1,Enfin Chez Gaëlle,"4244 route de Neufchatel, 76230 Bois Guillaume...",€€-€€€,French,NaN
998,lasangria1,La Sangria,"865 rue des Canadiens, 76230 Bois Guillaume Fr...",€€-€€€,"Mediterranean, Spanish, European",NaN
999,fujiyasushi1,Fujiya Sushi,"3182 route de Neufchatel, 76230 Bois Guillaume...",€€-€€€,"Japanese, Sushi, Asian",NaN

In [ ]:
email = clean_t_soar_db['username']+"@gmail.com"
clean_t_soar_db.insert(loc=2, column='email', value=email)

clean_t_soar_db

,username,restaurant_name,email,address,price_level,cuisines,special_diets
0,le1471,Le 147,le1471@gmail.com,"10 Maison Neuve, 87510 Saint-Jouvent France",€,French,NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,"16 Place de l Eglise, 87510 Saint-Jouvent France",€,NaN,NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,"2 rue des Dames, 36800 Rivarennes France",€,"French, European",NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,"9 avenue Porte de la Correze 19170, 19170 Lace...",€,French,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,"route du Montseigne, 12620 Saint-Laurent-de-Le...",€€-€€€,French,NaN
...,...,...,...,...,...,...,...
995,lecottage1,Le Cottage,lecottage1@gmail.com,"2162 Chemin de la Breteque, 76230 Bois Guillau...",NaN,NaN,NaN
996,lenicouelo1,Le Nicouelo,lenicouelo1@gmail.com,"Centre Commercial des Bocquets, 76230 Bois Gui...",€,French,NaN
997,enfinchezgaëlle1,Enfin Chez Gaëlle,enfinchezgaëlle1@gmail.com,"4244 route de Neufchatel, 76230 Bois Guillaume...",€€-€€€,French,NaN
998,lasangria1,La Sangria,lasangria1@gmail.com,"865 rue des Canadiens, 76230 Bois Guillaume Fr...",€€-€€€,"Mediterranean, Spanish, European",NaN
999,fujiyasushi1,Fujiya Sushi,fujiyasushi1@gmail.com,"3182 route de Neufchatel, 76230 Bois Guillaume...",€€-€€€,"Japanese, Sushi, Asian",NaN

In [ ]:
! pip install names

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: names in /usr/local/lib/python3.8/dist-packages (0.3.0)

In [ ]:
import names
restaurant_owner = []

for i in range(len(clean_t_soar_db['restaurant_name'])):
  restaurant_owner.append(names.get_full_name())

clean_t_soar_db.insert(loc=3, column='restaurant_owner', value=restaurant_owner)

clean_t_soar_db.head()

,username,restaurant_name,email,restaurant_owner,address,price_level,cuisines,special_diets
0,le1471,Le 147,le1471@gmail.com,Carol Nguyen,"10 Maison Neuve, 87510 Saint-Jouvent France",€,French,NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,Kathy Sundberg,"16 Place de l Eglise, 87510 Saint-Jouvent France",€,NaN,NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,Nellie Mitchell,"2 rue des Dames, 36800 Rivarennes France",€,"French, European",NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,Donna Lee,"9 avenue Porte de la Correze 19170, 19170 Lace...",€,French,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,Bonnie Regnier,"route du Montseigne, 12620 Saint-Laurent-de-Le...",€€-€€€,French,NaN

In [ ]:
clean_t_soar_db.insert(loc=5, column='opening_hours', value='17:00-23:00')

In [ ]:
clean_t_soar_db = clean_t_soar_db.rename(columns={'price_level': 'price', 'cuisines':'cooking_type', 'special_diets':'specialdiet'})
clean_t_soar_db

,username,restaurant_name,email,restaurant_owner,address,opening_hours,price,cooking_type,specialdiet
0,le1471,Le 147,le1471@gmail.com,Carol Nguyen,"10 Maison Neuve, 87510 Saint-Jouvent France",17:00-23:00,€,French,NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,Kathy Sundberg,"16 Place de l Eglise, 87510 Saint-Jouvent France",17:00-23:00,€,NaN,NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,Nellie Mitchell,"2 rue des Dames, 36800 Rivarennes France",17:00-23:00,€,"French, European",NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,Donna Lee,"9 avenue Porte de la Correze 19170, 19170 Lace...",17:00-23:00,€,French,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,Bonnie Regnier,"route du Montseigne, 12620 Saint-Laurent-de-Le...",17:00-23:00,€€-€€€,French,NaN
...,...,...,...,...,...,...,...,...,...
995,lecottage1,Le Cottage,lecottage1@gmail.com,Kimberly Morales,"2162 Chemin de la Breteque, 76230 Bois Guillau...",17:00-23:00,NaN,NaN,NaN
996,lenicouelo1,Le Nicouelo,lenicouelo1@gmail.com,Fermin Delp,"Centre Commercial des Bocquets, 76230 Bois Gui...",17:00-23:00,€,French,NaN
997,enfinchezgaëlle1,Enfin Chez Gaëlle,enfinchezgaëlle1@gmail.com,Peggy Patch,"4244 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,French,NaN
998,lasangria1,La Sangria,lasangria1@gmail.com,Hattie Worcester,"865 rue des Canadiens, 76230 Bois Guillaume Fr...",17:00-23:00,€€-€€€,"Mediterranean, Spanish, European",NaN
999,fujiyasushi1,Fujiya Sushi,fujiyasushi1@gmail.com,Jason Flamand,"3182 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,"Japanese, Sushi, Asian",NaN

In [ ]:
import random
contact_list=[]
for i in range(len(clean_t_soar_db)):
  phone_number='07'
  for i in range(1,8):
    phone_number = phone_number + str(random.randint(0,9))
  contact_list.append(phone_number)
clean_t_soar_db.insert(loc=8, column='contact', value=contact_list)

In [ ]:
clean_t_soar_db

,username,restaurant_name,email,restaurant_owner,address,opening_hours,price,cooking_type,contact,specialdiet
0,le1471,Le 147,le1471@gmail.com,Carol Nguyen,"10 Maison Neuve, 87510 Saint-Jouvent France",17:00-23:00,€,French,072841230,NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,Kathy Sundberg,"16 Place de l Eglise, 87510 Saint-Jouvent France",17:00-23:00,€,NaN,073568901,NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,Nellie Mitchell,"2 rue des Dames, 36800 Rivarennes France",17:00-23:00,€,"French, European",070421600,NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,Donna Lee,"9 avenue Porte de la Correze 19170, 19170 Lace...",17:00-23:00,€,French,076625444,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,Bonnie Regnier,"route du Montseigne, 12620 Saint-Laurent-de-Le...",17:00-23:00,€€-€€€,French,070815677,NaN
...,...,...,...,...,...,...,...,...,...,...
995,lecottage1,Le Cottage,lecottage1@gmail.com,Kimberly Morales,"2162 Chemin de la Breteque, 76230 Bois Guillau...",17:00-23:00,NaN,NaN,079321996,NaN
996,lenicouelo1,Le Nicouelo,lenicouelo1@gmail.com,Fermin Delp,"Centre Commercial des Bocquets, 76230 Bois Gui...",17:00-23:00,€,French,072108282,NaN
997,enfinchezgaëlle1,Enfin Chez Gaëlle,enfinchezgaëlle1@gmail.com,Peggy Patch,"4244 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,French,078111470,NaN
998,lasangria1,La Sangria,lasangria1@gmail.com,Hattie Worcester,"865 rue des Canadiens, 76230 Bois Guillaume Fr...",17:00-23:00,€€-€€€,"Mediterranean, Spanish, European",075251024,NaN
999,fujiyasushi1,Fujiya Sushi,fujiyasushi1@gmail.com,Jason Flamand,"3182 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,"Japanese, Sushi, Asian",074094404,NaN

In [ ]:
! pip install faker
! pip install faker_food

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.8/dist-packages (12.3.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker_food in /usr/local/lib/python3.8/dist-packages (0.1.0)
Requirement already satisfied: Faker<13.0.0,>=12.0.0 in /usr/local/lib/python3.8/dist-packages (from faker_food) (12.3.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker<13.0.0,>=12.0.0->faker_food) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker<13.0.0,>=12.0.0->faker_food) (1.15.0)

In [ ]:
from faker import Faker
from faker_food import FoodProvider

fake = Faker()
fake.add_provider(FoodProvider)

menu_list=[]
for i in range(len(clean_t_soar_db)):
  menu = ''
  for i in range(1,5):
    menu = menu + str(fake.dish()) + ', '
  menu_list.append(menu)
clean_t_soar_db.insert(loc=9, column='menu', value=menu_list)

In [ ]:
clean_t_soar_db

,username,restaurant_name,email,restaurant_owner,address,opening_hours,price,cooking_type,contact,menu,specialdiet
0,le1471,Le 147,le1471@gmail.com,Carol Nguyen,"10 Maison Neuve, 87510 Saint-Jouvent France",17:00-23:00,€,French,072841230,"Bruschette with Tomato, Pork sausage roll, Kat...",NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,Kathy Sundberg,"16 Place de l Eglise, 87510 Saint-Jouvent France",17:00-23:00,€,NaN,073568901,"Pasta with Tomato and Basil, French fries with...",NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,Nellie Mitchell,"2 rue des Dames, 36800 Rivarennes France",17:00-23:00,€,"French, European",070421600,"Pizza, Linguine with clams, Bruschette with To...",NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,Donna Lee,"9 avenue Porte de la Correze 19170, 19170 Lace...",17:00-23:00,€,French,076625444,"Pizza, Philadelphia maki, Risotto with seafood...",NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,Bonnie Regnier,"route du Montseigne, 12620 Saint-Laurent-de-Le...",17:00-23:00,€€-€€€,French,070815677,"Katsu Curry, Caprese Salad, Ebiten maki, Calif...",NaN
...,...,...,...,...,...,...,...,...,...,...,...
995,lecottage1,Le Cottage,lecottage1@gmail.com,Kimberly Morales,"2162 Chemin de la Breteque, 76230 Bois Guillau...",17:00-23:00,NaN,NaN,079321996,"Caesar Salad, Tuna sashimi, Caprese Salad, Tun...",NaN
996,lenicouelo1,Le Nicouelo,lenicouelo1@gmail.com,Fermin Delp,"Centre Commercial des Bocquets, 76230 Bois Gui...",17:00-23:00,€,French,072108282,"California maki, Pasta Carbonara, Tuna sashimi...",NaN
997,enfinchezgaëlle1,Enfin Chez Gaëlle,enfinchezgaëlle1@gmail.com,Peggy Patch,"4244 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,French,078111470,"Pizza, Vegetable Soup, Ricotta stuffed Ravioli...",NaN
998,lasangria1,La Sangria,lasangria1@gmail.com,Hattie Worcester,"865 rue des Canadiens, 76230 Bois Guillaume Fr...",17:00-23:00,€€-€€€,"Mediterranean, Spanish, European",075251024,"Chicken wings, Fish and chips, Pizza, Ebiten m...",NaN
999,fujiyasushi1,Fujiya Sushi,fujiyasushi1@gmail.com,Jason Flamand,"3182 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,"Japanese, Sushi, Asian",074094404,"Bruschette with Tomato, Pork sausage roll, Mea...",NaN

In [ ]:
password_list = []
for i in range(len(clean_t_soar_db)):
  password=''
  for i in range(1,8):
    password = password + str(random.randint(0,9))
  password_list.append(password)
clean_t_soar_db.insert(loc=11, column='password', value=password_list)

In [ ]:
clean_t_soar_db

,username,restaurant_name,email,restaurant_owner,address,opening_hours,price,cooking_type,contact,menu,specialdiet,password
0,le1471,Le 147,le1471@gmail.com,Carol Nguyen,"10 Maison Neuve, 87510 Saint-Jouvent France",17:00-23:00,€,French,072841230,"Bruschette with Tomato, Pork sausage roll, Kat...",NaN,7794569
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,Kathy Sundberg,"16 Place de l Eglise, 87510 Saint-Jouvent France",17:00-23:00,€,NaN,073568901,"Pasta with Tomato and Basil, French fries with...",NaN,9296477
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,Nellie Mitchell,"2 rue des Dames, 36800 Rivarennes France",17:00-23:00,€,"French, European",070421600,"Pizza, Linguine with clams, Bruschette with To...",NaN,9934257
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,Donna Lee,"9 avenue Porte de la Correze 19170, 19170 Lace...",17:00-23:00,€,French,076625444,"Pizza, Philadelphia maki, Risotto with seafood...",NaN,3194154
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,Bonnie Regnier,"route du Montseigne, 12620 Saint-Laurent-de-Le...",17:00-23:00,€€-€€€,French,070815677,"Katsu Curry, Caprese Salad, Ebiten maki, Calif...",NaN,0548692
...,...,...,...,...,...,...,...,...,...,...,...,...
995,lecottage1,Le Cottage,lecottage1@gmail.com,Kimberly Morales,"2162 Chemin de la Breteque, 76230 Bois Guillau...",17:00-23:00,NaN,NaN,079321996,"Caesar Salad, Tuna sashimi, Caprese Salad, Tun...",NaN,4042037
996,lenicouelo1,Le Nicouelo,lenicouelo1@gmail.com,Fermin Delp,"Centre Commercial des Bocquets, 76230 Bois Gui...",17:00-23:00,€,French,072108282,"California maki, Pasta Carbonara, Tuna sashimi...",NaN,0489118
997,enfinchezgaëlle1,Enfin Chez Gaëlle,enfinchezgaëlle1@gmail.com,Peggy Patch,"4244 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,French,078111470,"Pizza, Vegetable Soup, Ricotta stuffed Ravioli...",NaN,0665511
998,lasangria1,La Sangria,lasangria1@gmail.com,Hattie Worcester,"865 rue des Canadiens, 76230 Bois Guillaume Fr...",17:00-23:00,€€-€€€,"Mediterranean, Spanish, European",075251024,"Chicken wings, Fish and chips, Pizza, Ebiten m...",NaN,4730072
999,fujiyasushi1,Fujiya Sushi,fujiyasushi1@gmail.com,Jason Flamand,"3182 route de Neufchatel, 76230 Bois Guillaume...",17:00-23:00,€€-€€€,"Japanese, Sushi, Asian",074094404,"Bruschette with Tomato, Pork sausage roll, Mea...",NaN,5397865

In [ ]:
clean_t_soar_db['ratings'] = np.nan

In [ ]:
clean_t_soar_db.head()

,username,restaurant_name,email,restaurant_owner,address,opening_hours,price,cooking_type,contact,menu,specialdiet,password,ratings
0,le1471,Le 147,le1471@gmail.com,Carol Nguyen,"10 Maison Neuve, 87510 Saint-Jouvent France",17:00-23:00,€,French,072841230,"Bruschette with Tomato, Pork sausage roll, Kat...",NaN,7794569,NaN
1,lesaintjouvent1,Le Saint Jouvent,lesaintjouvent1@gmail.com,Kathy Sundberg,"16 Place de l Eglise, 87510 Saint-Jouvent France",17:00-23:00,€,NaN,073568901,"Pasta with Tomato and Basil, French fries with...",NaN,9296477,NaN
2,auboutdupont1,Au Bout du Pont,auboutdupont1@gmail.com,Nellie Mitchell,"2 rue des Dames, 36800 Rivarennes France",17:00-23:00,€,"French, European",070421600,"Pizza, Linguine with clams, Bruschette with To...",NaN,9934257,NaN
3,lerelaisdenaiade1,Le Relais de Naiade,lerelaisdenaiade1@gmail.com,Donna Lee,"9 avenue Porte de la Correze 19170, 19170 Lace...",17:00-23:00,€,French,076625444,"Pizza, Philadelphia maki, Risotto with seafood...",NaN,3194154,NaN
4,relaisdumontseigne1,Relais Du MontSeigne,relaisdumontseigne1@gmail.com,Bonnie Regnier,"route du Montseigne, 12620 Saint-Laurent-de-Le...",17:00-23:00,€€-€€€,French,070815677,"Katsu Curry, Caprese Salad, Ebiten maki, Calif...",NaN,0548692,NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
clean_t_soar_db.to_csv('Restaurants.csv', index=False)
clean_t_soar_db.to_csv('/content/drive/MyDrive/Colab Notebooks/Restaurants.csv', index=False)